/* jobs-table.css */

.jobs-table-container {
  margin: 50px auto;
  width: 80%;
  max-width: 1000px; /* Set a maximum width for responsiveness */
}

.jobs-table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 5px;
  color: #103c57;
}

.jobs-table th , td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: antiquewhite;
}

.jobs-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}


.loading-indicator, .error-message {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Optional enhancements */

.error-message {
  color: red;
}

.jobs-table button {
  border: none;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.jobs-table button:hover {
  background-color: #3e8e41;
}
