
.div-container{
  background-image: linear-gradient(30deg, #d6aa70, #EADBC8 );
  color: var(--palleteblue);
  font-family: cursive;
}

.upper-div{
  text-align: center;
  font-size: 3vw;
  font-weight: 400;
  padding-top: 2vw;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}


.pic-container{
  display: flex;
  gap: 2vw;
  justify-content: center;
  padding: 2vw;
  flex-wrap: wrap;
}

.inner-container{
  background-image: linear-gradient(270deg, #102c57, #0b6787);
  width: min-content;
  height: auto;
  border-radius: 5%;
}

.inner-container:hover{
  box-shadow: 0px 0px 5px #1a498e;
}

.inner-container span{
  display: block;
  padding: 1vh
}

.inner-container img{
  width: 15vw;
  height: 15vw;
  border-radius: 5%;
  transition: 1s;
}

.title{
  text-align: center;
  text-wrap: pretty;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

@media (max-width:480px) 
{
  .inner-container img{
    height:18vw;
    width: 18vw;
     }
  
}
