.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(270deg, rgb(16 44 87 / 37%), #0b67874d);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
padding: 1.5vw;
  width: 100%;
  height: 90vh;
  max-width: 640px;
  background-color: white;
  /* height: 80vh; */
  overflow-y: auto;
  box-shadow: 0px 0px 10px #ddd2c3;
}


/* Add more styles as per your design requirements */
/* Add this style to your CSS file */
.body-no-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  /* Ensure the popup is above the overlay */
  /* Rest of your styles */
}

/* Custom scrollbar styles */
.popup-inner::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

.popup-inner::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.popup-inner::-webkit-scrollbar-thumb {
  background: #7992a1;
}

.close_btn {
  text-align: end;
  border-radius: 50%;
}

.close_btn img {
  height: 3.5vw;
  cursor: pointer;
 
  stroke-width: 2px;
}

@media (max-width:600px){
  .close_btn img {
      height: 6.5vw;
      cursor: pointer;
  
      stroke-width: 2px;
    }
    .popup-inner{
      height: 70vh;
    }
}