.dir-container{
  background-color: var(--secondlightest);
  color: var(--palleteblue);
}

.upper-division{
  text-align: center;
  font-size: 3vw;
  font-weight: 400;
  padding-top: 2vw;

  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#back-btn{
  font-size: 3vw;
  background-color: var(--secondlightest);
  color: var(--palleteblue);
  margin: 5vw;
  cursor: pointer;
  
}
.cards-container{
  display: flex;
  gap: 2vw;
  justify-content: center;
  padding: 2vw;
  flex-wrap: wrap;
}
.dir-cards-bg {
  /* display: flex;
  flex-direction: column;
  text-align: center;
   */
  background-color: var(--thirdlightest);
  transition: 1s;
}

.dir-cards-bg:hover{
  box-shadow: 0px 0px 5px black;
}




.left-arrow{
  height: 2vw;
  width: 2vw;
  cursor: pointer;
}


/* .dept-card{
  padding: 2vw;
  gap:1vw;
  text-decoration: none;
} */
#view-batch-btn {
  text-align: end;
  justify-content: space-between;
  padding: 0 3vw;
}
#view-batch-btn>button{
  font-size: 1.5vw;
  border: 0.1vw solid var(--palleteblue);
  cursor: pointer;
  padding: 10px;
  color: var(--palleteblue);
}

@media (max-width:600px){
  .cards-container{
    flex-direction: column;
  }
    .left-arrow {
      height: 6vw;
      width: 6vw;
      cursor: pointer;
    }

  #alumnilist-container{
    flex-direction: row;
    font-size: 3vw;
  }
  
  
}