.dir-container{
  background-color: var(--secondlightest);
  color: var(--palleteblue);
}

.upper-division{
  text-align: center;
  font-size: 3vw;
  font-weight: 400;
  padding-top: 2vw;

  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#back-btn{
  font-size: 3vw;
  background-color: var(--secondlightest);
  color: var(--palleteblue);
  margin: 5vw;
  cursor: pointer;
  
}
.cards-container{
  display: flex;
  gap: 2vw;
  justify-content: center;
  padding: 2vw;
  flex-wrap: wrap;


}
.dir-cards-bg {
  /* display: flex;
  flex-direction: column;
  text-align: center;
   */
  background-color: var(--thirdlightest);

  transition: 1s;
}

.dir-cards-bg:hover{
  box-shadow: 0px 0px 5px black;
}

 
#inactive-college {
  display: none;
}
#inactive-year {
  display: none;
}
#inactive-dept{
  display: none;
}


.left-arrow{
  height: 2vw;
  width: 2vw;
  cursor: pointer;
}

.dir-backbtn{
  position: relative;
  left: 10vw;
}