.alumni-vision-color {
  background-color: #EADBC8;
  color: #102C57;
}

.center-align-txt{
 text-align: center; 
}
.vision-txt{
  max-width: 70vw;
  position: relative;
  left: 14vw;
  font-weight:700;
  font-size: 1.1rem;
}



.vision-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vision-card{
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.alumni-vision-card-btn {
  border: 1px solid white ;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #102C57;
  margin-top: 10px;
  color: #DAC0A3;
  padding: 10px;
}
.vision-card>button:active {
  background-color:#0b6485;

}

.link-decoration{
  text-decoration: none;
  color: white;
}


.large-no{
  font-size: 4rem;
}

#alumnivision-profile-pic{
  height: 105px;
  border-radius: 50%;
}



